/* mobile device */

@media screen and (max-width: 600px) {

  header,
  main,
  footer {
    padding: 0 20px;
  }

  main section {
    margin-top: 24px;
  }

  .section-title {
    font-size: 20px;
  }

  .section-desc {
    font-size: 14px;
    padding: 16px 0;
  }

  .find-form,
  .popular-tour,
  .why-choose-us .card-container,
  .newsletter {
    flex-direction: column;
    gap: 16px;
  }

  .banner {
    padding: 32px 24px;
  }

  .banner-title {
    font-size: 22px;
  }

  .banner-desc {
    font-size: 14px;
    padding: 8px 0;
  }

  .find-form .field,
  .why-choose-us .card {
    width: 100%;
  }

  .find-form .btn-primary {
    justify-content: center;
  }

  .destination-info,
  .why-choose-us-info {
    text-align: center;
    padding: 0 13px;
  }

  .destination-locations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .destination-locations .item {
    grid-column: span 1;
  }

  .destination-locations .item h3 {
    font-size: 20px;
    font-weight: 800;
  }

  .why-choose-us .card img {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
  }

  .why-choose-us .card-title {
    padding: 8px 0;
    font-size: 20px;
  }

  .why-choose-us .card-desc {
    font-size: 14px;
  }

  .newsletter-img img {
    height: 300px;
  }

  .newsletter-img .badge {
    padding: 16px 24px;

  }

  .newsletter-img .b.badge .web-address {
    font-size: 16px;
  }

  .newsletter-img .badge .discount-details {
    font-size: 22px;
  }

}